<p-confirmDialog [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-card  styleClass="padding-field" 
         [style]="{'box-shadow': '0 5px 5px -5px black'}"
         class="p-shadow-5"
         >
  <ng-template pTemplate="content">
    <div class="p-d-flex  p-ai-center p-jc-between">
      <div class="p-text-left p-pr-2">
        <h1>
          {{quote.person}}
        </h1>
        <p>
          {{quote.quote}}
        </p>
      </div>
      <div class="p-d-flex p-flex-column p-jc-center">
        <button pButton 
                pRipple 
                type="button" 
                icon="pi pi-pencil" 
                class="p-button-rounded p-button-primary p-m-1"
                (click)="openEditModal(quote)"
                >
        </button>
        <button pButton 
                pRipple 
                type="button" 
                icon="pi pi-trash" 
                class="p-button-rounded p-button-danger p-m-1"
                (click)="deleteQuote(quote._id)"
                >
        </button>
      </div>
    </div>
  </ng-template> 
</p-card>

