
<form [formGroup]="myForm">
    <div class="p-d-flex p-flex-column">
        <input type="text" 
               pInputText
               placeholder="Author" 
               formControlName="person"
        />
        <p-multiSelect [options]="categories" 
                       defaultLabel="Select categories"
                       formControlName="category"
                       display="chip"
                       >
        </p-multiSelect>
        <!-- <input type="text" 
               pInputText
               placeholder="Category" 
               formControlName="category"
        /> -->
        <textarea type="text" 
                  pInputTextarea 
                  [rows]="3"
                  placeholder="Quote" 
                  formControlName="quote"
                  class="p-mt-2"
        ></textarea>
    </div>
    <app-button [buttonConfig]="saveBtnConfig"
                (click)="saveData()"
                class="p-text-center"
                type="submit"
    >
    </app-button>
</form>