
<form [formGroup]="myForm" (ngSubmit)="saveData()">
    <div class="p-d-flex p-flex-column">
        <input type="text" 
               pInputText
               placeholder="Author" 
               formControlName="person"
               [style]="{'margin-top': '5px'}"
               [ngClass]="{'ng-invalid ng-dirty': campoInvalido('person')}"
               />
        <p-multiSelect [options]="categories" 
                       placeholder="Select categories"
                       optionLabel="name"
                       formControlName="category"
                       display="chip"
                       scrollHeight="100px"
                       [ngClass]="{'ng-invalid ng-dirty': campoInvalido('category')}"
                       >
        </p-multiSelect>
        <textarea type="text" 
                  pInputTextarea 
                  [rows]="3"
                  placeholder="Quote" 
                  formControlName="quote"
                  class="p-mt-2"
                  [ngClass]="{'ng-invalid ng-dirty': campoInvalido('quote')}"
                  ></textarea>
    </div>
    <app-button [buttonConfig]="saveBtnConfig"
                class="p-text-center"
    ></app-button>
</form>