:host ::ng-deep .p-dialog {
    width: 40vw;
}

:host .p-button.p-button-text {
    position: absolute;
    color: white;
    top: 2%;
    left: 4%;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    padding: 1rem;
}

:host ::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token {
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    :host ::ng-deep .p-dialog {
        width: 80vw;
    }
    :host ::ng-deep .mobile-toast {
        width: 250px;
    }
}