<div class="p-mb-3 p-text-center">
  <app-search></app-search>
</div>
<div class="p-mb-3 p-text-center">
  <app-button></app-button>
</div>


<div class="p-grid p-text-center p-jc-center">
  <div class="p-col-12 p-md-6 p-lg-4">
    <app-quote-box></app-quote-box>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <app-quote-box></app-quote-box>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <app-quote-box></app-quote-box>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <app-quote-box></app-quote-box>
  </div>
</div>