<div [ngSwitch]="buttonConfig.name">

<!-- All Button -->
<div *ngSwitchCase="'all'">
  <button pButton 
        pRipple 
        type="button" 
        class="p-button-rounded p-shadow-5"
        [ngStyle]="buttonConfig.styles"
        >
  <p>
    {{buttonConfig.label}}
  </p>
</button>
</div>

<!-- Random Button -->
<div *ngSwitchCase="'random'">
    <button pButton 
        pRipple 
        type="button" 
        class="p-button-rounded p-shadow-5"
        [ngStyle]="buttonConfig.styles"
        >
    <p>
      {{buttonConfig.label}}
    </p>
  </button>
</div>

<!-- Save Button -->
<div *ngSwitchCase="'save'">
    <button pButton 
        pRipple 
        type="button" 
        class="p-button-rounded"
        [ngStyle]="buttonConfig.styles"
        >
    <p>
      {{buttonConfig.label}}
    </p>
  </button>
</div>

</div>



