<ng-container *ngTemplateOutlet="buttonConfig.name === 'all' ? all : random">
</ng-container>


<!-- All Button -->
<ng-template #all>
  <button pButton 
        pRipple 
        type="button" 
        class="p-button-rounded"
        [ngStyle]="buttonConfig.styles"
        >
  <p>
    {{buttonConfig.label}}
  </p>
</button>
</ng-template>

<!-- Random Button -->
<ng-template #random>
    <button pButton 
        pRipple 
        type="button" 
        class="p-button-rounded"
        [ngStyle]="buttonConfig.styles"
        >
    <p>
      {{buttonConfig.label}}
    </p>
  </button>
</ng-template>



